.sino-pad-cells {
    width: 95%;
    left: 20px;
    right: 20px;
}

.sino-pad-right {
    right: 20px;
}
/*.layered-ribbon {
    position: relative;
}
.layered-ribbon img {
    height: 67px;
    width: 50px;
}
.image-ribbon {
    position: absolute;
    top: 20px;
    left: 20px;
    opacity: 1;
}
.image-star {
    position: absolute;
    height: 25px !important;
    width: 25px !important;
    top: 31px;
    left: 33px;
    opacity: 1;
}*/